.banner
  @apply bg-gray-200
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding: 5rem 0
  &__title,&__description
    text-align: center
    color: #fff
  &__title
    font-weight: 600
    font-size: 40px
    line-height: 40px
    margin-bottom: 18px
  &__description
    font-size: 18px
    line-height: 29px
    font-weight: normal
@screen lg
  .banner
    padding: 183px 0 257px 0
    &__title
      font-size: 60px
      line-height: 73px
      margin-bottom: 18px
    &__description
      font-size: 24px
      line-height: 29px
